//- Start Content
.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pb-2.mb-3.border-bottom
	h1.h2 Dashboard
	.btn-toolbar.mb-2.mb-md-0
		.btn-group.mr-2
			button(ng-click='vm.getLiveChartData()').btn.btn-sm.btn-outline-secondary Update
//canvas(id='line',chart-data='vm.data',chart-labels='vm.labels',chart-series='vm.series',chart-options='vm.options',height='50').chart.chart-line
//canvas(id='line',chart-data='main.data',chart-labels='main.labels',chart-series='main.series',chart-options='main.options',height='50').chart.chart-line
canvas(id='bar',chart-data='vm.data2',chart-labels='vm.labels2',chart-series='vm.series',chart-options='vm.options',height='50').chart.chart-bar
br
uib-progressbar(max='vm.max', value='vm.dynamic')
	span(style='color:white; white-space:nowrap;'){{vm.dynamic/1000}} / {{vm.max/1000}}
br
h2 Events
div(ng-show='vm.mockdata.length>0').table-responsive
	table.table.table-striped.table-sm
		thead
			tr
				th RemoteQueuedMetricKey
				th Timestamp
				th InstanceName
				th DatabaseName
				th Metric
				th MetricValue
				th MetricThreshold
				th ThresholdValue
				th LastQueuedMetricKey
				th Message
		tbody
			tr(ng-repeat='records in vm.mockdata | orderBy:"-RemoteQueuedMetricKey"')
				th {{records.RemoteQueuedMetricKey}}
				th {{records.Timestamp}}
				th {{records.InstanceName}}
					//- a(href='/server/{{records.InstanceName}}/{{records.DatabaseName}}') {{records.InstanceName}}
				th {{records.DatabaseName}}
				th {{records.Metric}}
				th {{records.MetricValue}}
				th {{records.MetricThreshold}}
				th {{records.ThresholdValue}}
				th {{records.LastQueuedMetricKey}}
				th(ng-if='records.Metric=="Blocking"') 
					a(href='/serversingle/{{records.InstanceName}}/{{records.DatabaseName}}') {{records.Message}}
				th(ng-if='records.Metric!="Blocking"') {{records.Message}}
div(ng-hide='vm.mockdata.length>0').alert.alert-info No events!
//- End Content
