//- Start Content
script(type='text/ng-template', id='menu1.html').
	<div class="fixed-action-btn">
	<a class="btn-floating btn-large purple darken-3">
		<i class="large material-icons">mode_edit</i>
	</a>
	<ul>
		<li><button data-tooltip="Update data" ng-click='vm.getLiveChartData()' class="btn-floating red tooltipped"><i class="material-icons">update</i></button></li>
	</ul>
	</div>
	<script type="text/javascript">
		$(document).ready(function(){
			$('.fixed-action-btn').floatingActionButton();
			$('.tooltipped').tooltip({position: 'left'});
			$('.chips').chips();
		});	
	</script>
	<style>
		.md-chips.md-focused {
			box-shadow: none;
		}
	</style>
ng-include(src="'menu1.html'")
.row
	.col.s12.m12
		.card
			.card-content
				| tempdb on AXE-SQL01 ({{vm.gettempdb[0].Log_file_used}}MB / {{vm.gettempdb[0].Log_file}}MB) :
				//- p Data file (MB): {{vm.gettempdb[0]["Data_file"]}}
				//- p Log file (MB): {{vm.gettempdb[0]["Log_file"]}}
				//- p Log file space used (MB): {{vm.gettempdb[0]["Log_file_used"]}}
				.progress
					div(ng-style="{ 'width': (vm.gettempdb[0].Log_file_used / vm.gettempdb[0].Log_file)*100 + '%' }").determinate
//- .row
//- 	.col.s12
//- 		h5.h5 Dashboard
//- 		h6 Events
//- 		div(ng-show='vm.mockdata.length>0')
//- 			table.responsive-table
//- 				thead
//- 					tr
//- 						th(ng-repeat='(key,value) in vm.mockdata[0]') {{key}}
//- 				tbody
//- 					tr(ng-repeat='records in vm.mockdata | orderBy: "-RemoteQueuedMetricKey"')
//- 						td(ng-repeat='(key,value) in records') {{value}}
//- 		div(ng-hide='vm.mockdata.length>0').alert.alert-info No events!
//- End Content
.row
	.col.s6.m6
		form(name="OccurenceForm")
			md-chips(ng-model="vm.dismissedoccurences",name="RemoteQueuedMetricKey",md-max-chips="5",placeholder="Enter key")
				md-chip-template
					strong {{$chip}}
	.col.s6.m6
		form(name="AliasForm")
			md-chips(ng-model="vm.dismissedseries",name="Alias",md-max-chips="5",placeholder="Enter code")
				md-chip-template
					strong {{$chip}}
.row
	div(ng-repeat='record in vm.mockdata | orderBy: "-RemoteQueuedMetricKey" | filter:vm.filterdismissedentities').col.s12.m4
		div(ng-if='record.Metric!="Heartbeat"')
			.card.red.lighten-1
				.card-content.white-text
					span.card-title {{::record.Alias}} ({{::record.InstanceName}} / {{::record.DatabaseName}})
					h4.center-align {{::record.MetricValue}} / {{::record.ThresholdValue}}
					.row
						.col.s3
							p Metric:
							p Value:
							p Threshold:
							p Timestamp:
						.col.s6
							p {{::record.Metric}} 
							p {{::record.MetricValue}} 
							p {{::record.ThresholdValue}}
							p {{::record.Timestamp}}
				.card-action.red.darken-1
					a(href='/server/{{::record.InstanceName}}/{{::record.Alias}}/{{::record.DatabaseName}}') Details
					a(ng-click='vm.dismissOccurence(record.RemoteQueuedMetricKey)') Dismiss this occurence
					a(ng-click='vm.dismissSeries(record.Alias)') Dismiss this serie
		div(ng-if='record.Metric=="Heartbeat"')
			.card.red.lighten-1
				.card-content.white-text
					span.card-title {{::record.Alias}} ({{::record.InstanceName}} / {{::record.DatabaseName}})
					h4.center-align No Heartbeat!
					.row
						.col.s3
							p Last record
						.col.s6
							p {{::record.Timestamp}}
				.card-action.red.darken-1
					a(href='/server/{{::record.InstanceName}}/{{::record.Alias}}/{{::record.DatabaseName}}') Details
//- .row
//- 	.col.s6.m6
//- 		input(type='number',ng-model='vm.tmpoccurence')
//- 		button(ng-click='vm.dismissOccurence(vm.tmpoccurence)').btn.btn-small Dismiss another occurence
//- 		div(ng-repeat='entity in vm.dismissedoccurences')
//- 			div(ng-click='vm.removeOccurence(entity)') {{entity}}
//- 	.col.s6.m6
//- 		input(type='text',ng-model='vm.tmpserie')
//- 		button(ng-click='vm.dismissSeries(vm.tmpserie)').btn.btn-small Dismiss another serie
//- 		div(ng-repeat='entity in vm.dismissedseries')
//- 			div(ng-click='vm.removeSeries(entity)') {{entity}}
//- 	.col.s12.m12
//- 		button(ng-click='vm.clearFilter()').btn.btn-small Clear filter
//- .row
//- 	.col.s6.s6
//- 		.chips
//- 			div(ng-repeat='entity in vm.dismissedoccurences').chip {{entity}}
//- 				i(ng-click='vm.removeOccurence(entity)').close.material-icons close
//- 	.col.s6.s6
//- 		.chips
//- 			div(ng-repeat='entity in vm.dismissedseries').chip {{entity}}
//- 				i(ng-click='vm.removeSeries(entity)').close.material-icons close
