//- Start Content
//- #content.col-xs-12.col-sm-10
#about
	.about-inner
		h4.page-header Open-source admin theme for you
		p DevOOPS team
		p
			| Homepage - 
			a(href='http://devoops.me', target='_blank') http://devoops.me
		p
			| Email - 
			a(href='mailto:devoopsme@gmail.com') devoopsme@gmail.com
		p
			| Twitter - 
			a(href='http://twitter.com/devoopsme', target='_blank') http://twitter.com/devoopsme
		p Donate - BTC 123Ci1ZFK5V7gyLsyVU36yPNWSB5TDqKn3
.preloader
	img.devoops-getdata(src='img/devoops_getdata.gif', alt='preloader')
#ajax-content
//- End Content
