//- Start Header
#screensaver
  canvas#canvas
  i#screen_unlock.fa.fa-lock
#modalbox
  .devoops-modal
    .devoops-modal-header
      .modal-header-name
        span Basic table
      .box-icons
        a.close-link
          i.fa.fa-times
    .devoops-modal-inner
    .devoops-modal-bottom
header.navbar
  .container-fluid.expanded-panel
    .row
      #logo.col-xs-12.col-sm-2
        a(href='index.html') DevOOPS v2
      #top-panel.col-xs-12.col-sm-10
        .row
          .col-xs-8.col-sm-4
            #search
              input(type='text', placeholder='search')
              i.fa.fa-search
          .col-xs-4.col-sm-8.top-panel-right
            a.about(href='#') about
            a.style1(href='index_v1.html')
            ul.nav.navbar-nav.pull-right.panel-menu
              li.hidden-xs
                a.modal-link(href='index.html')
                  i.fa.fa-bell
                  span.badge 7
              li.hidden-xs
                a.ajax-link(href='ajax/calendar.html')
                  i.fa.fa-calendar
                  span.badge 7
              li.hidden-xs
                a.ajax-link(href='ajax/page_messages.html')
                  i.fa.fa-envelope
                  span.badge 7
              li.dropdown
                a.dropdown-toggle.account(href='#', data-toggle='dropdown')
                  .avatar
                    img.img-circle(src='https://randomuser.me/api/portraits/men/1.jpg', alt='avatar')
                  i.fa.fa-angle-down.pull-right
                  .user-mini.pull-right
                    span.welcome Welcome,
                    span Jane Devoops
                ul.dropdown-menu
                  li
                    a(href='#')
                      i.fa.fa-user
                      span Profile
                  li
                    a.ajax-link(href='ajax/page_messages.html')
                      i.fa.fa-envelope
                      span Messages
                  li
                    a.ajax-link(href='ajax/gallery_simple.html')
                      i.fa.fa-picture-o
                      span Albums
                  li
                    a.ajax-link(href='ajax/calendar.html')
                      i.fa.fa-tasks
                      span Tasks
                  li
                    a(href='#')
                      i.fa.fa-cog
                      span Settings
                  li
                    a(href='#')
                      i.fa.fa-power-off
                      span Logout
//- End Header
//- Start Container
#main.container-fluid
  .row
    #sidebar-left.col-xs-2.col-sm-2
      ul.nav.main-menu
        li
          a.ajax-link(href='ajax/dashboard.html')
            i.fa.fa-dashboard
            span.hidden-xs Dashboard
        li.dropdown
          a.dropdown-toggle(href='#')
            i.fa.fa-bar-chart-o
            span.hidden-xs Charts
          ul.dropdown-menu
            li
              a.ajax-link(href='ajax/charts_xcharts.html') xCharts
            li
              a.ajax-link(href='ajax/charts_flot.html') Flot Charts
            li
              a.ajax-link(href='ajax/charts_google.html') Google Charts
            li
              a.ajax-link(href='ajax/charts_morris.html') Morris Charts
            li
              a.ajax-link(href='ajax/charts_amcharts.html') AmCharts
            li
              a.ajax-link(href='ajax/charts_chartist.html') Chartist
            li
              a.ajax-link(href='ajax/charts_coindesk.html') CoinDesk realtime
        li.dropdown
          a.dropdown-toggle(href='#')
            i.fa.fa-table
            span.hidden-xs Tables
          ul.dropdown-menu
            li
              a.ajax-link(href='ajax/tables_simple.html') Simple Tables
            li
              a.ajax-link(href='ajax/tables_datatables.html') Data Tables
            li
              a.ajax-link(href='ajax/tables_beauty.html') Beauty Tables
        li.dropdown
          a.dropdown-toggle(href='#')
            i.fa.fa-pencil-square-o
            span.hidden-xs Forms
          ul.dropdown-menu
            li
              a.ajax-link(href='ajax/forms_elements.html') Elements
            li
              a.ajax-link(href='ajax/forms_layouts.html') Layouts
            li
              a.ajax-link(href='ajax/forms_file_uploader.html') File Uploader
        li.dropdown
          a.dropdown-toggle(href='#')
            i.fa.fa-desktop
            span.hidden-xs UI Elements
          ul.dropdown-menu
            li
              a.ajax-link(href='ajax/ui_grid.html') Grid
            li
              a.ajax-link(href='ajax/ui_buttons.html') Buttons
            li
              a.ajax-link(href='ajax/ui_progressbars.html') Progress Bars
            li
              a.ajax-link(href='ajax/ui_jquery-ui.html') Jquery UI
            li
              a.ajax-link(href='ajax/ui_icons.html') Icons
        li.dropdown
          a.dropdown-toggle(href='#')
            i.fa.fa-list
            span.hidden-xs Pages
          ul.dropdown-menu
            li
              a(href='ajax/page_login.html') Login
            li
              a(href='ajax/page_register.html') Register
            li
              a#locked-screen.submenu(href='ajax/page_locked.html') Locked Screen
            li
              a.ajax-link(href='ajax/page_contacts.html') Contacts
            li
              a.ajax-link(href='ajax/page_feed.html') Feed
            li
              a.ajax-link.add-full(href='ajax/page_messages.html') Messages
            li
              a.ajax-link(href='ajax/page_pricing.html') Pricing
            li
              a.ajax-link(href='ajax/page_product.html') Product
            li
              a.ajax-link(href='ajax/page_invoice.html') Invoice
            li
              a.ajax-link(href='ajax/page_search.html') Search Results
            li
              a.ajax-link(href='ajax/page_404.html') Error 404
            li
              a(href='ajax/page_500.html') Error 500
        li.dropdown
          a.dropdown-toggle(href='#')
            i.fa.fa-map-marker
            span.hidden-xs Maps
          ul.dropdown-menu
            li
              a.ajax-link(href='ajax/maps.html') OpenStreetMap
            li
              a.ajax-link(href='ajax/map_fullscreen.html') Fullscreen map
            li
              a.ajax-link(href='ajax/map_leaflet.html') Leaflet
        li.dropdown
          a.dropdown-toggle(href='#')
            i.fa.fa-picture-o
            span.hidden-xs Gallery
          ul.dropdown-menu
            li
              a.ajax-link(href='ajax/gallery_simple.html') Simple Gallery
            li
              a.ajax-link(href='ajax/gallery_flickr.html') Flickr Gallery
        li
          a.ajax-link(href='ajax/typography.html')
            i.fa.fa-font
            span.hidden-xs Typography
        li
          a.ajax-link(href='ajax/calendar.html')
            i.fa.fa-calendar
            span.hidden-xs Calendar
        li.dropdown
          a.dropdown-toggle(href='#')
            i.fa.fa-picture-o
            span.hidden-xs Multilevel menu
          ul.dropdown-menu
            li
              a(href='#') First level menu
            li
              a(href='#') First level menu
            li.dropdown
              a.dropdown-toggle(href='#')
                i.fa.fa-plus-square
                span.hidden-xs Second level menu group
              ul.dropdown-menu
                li
                  a(href='#') Second level menu
                li
                  a(href='#') Second level menu
                li.dropdown
                  a.dropdown-toggle(href='#')
                    i.fa.fa-plus-square
                    span.hidden-xs Three level menu group
                  ul.dropdown-menu
                    li
                      a(href='#') Three level menu
                    li
                      a(href='#') Three level menu
                    li.dropdown
                      a.dropdown-toggle(href='#')
                        i.fa.fa-plus-square
                        span.hidden-xs Four level menu group
                      ul.dropdown-menu
                        li
                          a(href='#') Four level menu
                        li
                          a(href='#') Four level menu
                        li.dropdown
                          a.dropdown-toggle(href='#')
                            i.fa.fa-plus-square
                            span.hidden-xs Five level menu group
                          ul.dropdown-menu
                            li
                              a(href='#') Five level menu
                            li
                              a(href='#') Five level menu
                            li.dropdown
                              a.dropdown-toggle(href='#')
                                i.fa.fa-plus-square
                                span.hidden-xs Six level menu group
                              ul.dropdown-menu
                                li
                                  a(href='#') Six level menu
                                li
                                  a(href='#') Six level menu
                    li
                      a(href='#') Three level menu
    //- Start Content
    #content.col-xs-12.col-sm-10
      #about
        .about-inner
          h4.page-header Open-source admin theme for you
          p DevOOPS team
          p
            | Homepage - 
            a(href='http://devoops.me', target='_blank') http://devoops.me
          p
            | Email - 
            a(href='mailto:devoopsme@gmail.com') devoopsme@gmail.com
          p
            | Twitter - 
            a(href='http://twitter.com/devoopsme', target='_blank') http://twitter.com/devoopsme
          p Donate - BTC 123Ci1ZFK5V7gyLsyVU36yPNWSB5TDqKn3
      .preloader
        img.devoops-getdata(src='img/devoops_getdata.gif', alt='preloader')
      #ajax-content
    //- End Content
//- End Container
