.row
	.col-md-12
		div(ng-if='vm.blockingstarting',align='center').loading
			i(aria-hidden="true").fas.fa-circle-notch.fa-spin.fa-3x.fa-lg
		.table-responsive
			table(ng-hide="vm.blocking.name=='SequelizeDatabaseError'").table.table-striped.table-sm
				thead
					th(ng-repeat='(key,value) in vm.blocking[0]') {{key}}
				tbody
					tr(ng-repeat='block in vm.blocking track by $index | orderBy:"-MeasureTime"')
						td(ng-repeat='(key,value) in block') {{value | cut:true:100}}
			div(ng-show="vm.blocking.name=='SequelizeDatabaseError'",style='margin:5px;').alert-danger
				{{vm.blocking.original.message}}
