//- Start Content
.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pb-2.mb-3.border-bottom
	h1.h2 Dashboard {{vm.customer}}
	.btn-toolbar.mb-2.mb-md-0
		.btn-group.mr-2
			button(ng-click='vm.getLiveCustomerChartData()').btn.btn-sm.btn-outline-secondary Update
.row
	.col-md-6
		.card
			.card-header 
				h5 
					i.fas.fa-address-card
					|                   Licenses
			div(ng-repeat='license in vm.licenses track by $index', style='padding:5px;')
				.row
					.col-md-6
						{{license.description}} ({{license.hostname}})
					.col-md-6
						uib-progressbar(max='license.licenses', value='license.ActiveLicenses')
							span(style='color:white; white-space:nowrap;') {{license.ActiveLicenses}} / {{license.licenses}}
	.col-md-6
		.card
			.card-header 
				h5 
					i.fas.fa-address-card
					|                   VMP Transactions
			div
				.row
					.col-md-6
						|	Department
					.col-md-6
						| To Calculate
			div(ng-repeat='vmptransaction in vm.vmptransactions track by $index', style='padding:5px;')
				.row
					.col-md-6
						{{vmptransaction.Description}}
					.col-md-6
						{{vmptransaction.ToCalculate}}
br
.row
	.col-md-12
		.card
			.card-header
				h5 
					i.fas.fa-address-card
					|                   EtradeCounters
			canvas(id='bar',chart-data='vm.etradeservercounterdata',chart-labels='vm.etradeservercounterlabels',chart-series='["NumberOfSuccesfullPurchases","NumberOfFailedPurchases"]',chart-options='vm.options',height='50').chart.chart-bar
br
canvas(id='bar',chart-data='vm.data',chart-labels='vm.labels',chart-series='vm.series',chart-options='vm.options',height='50').chart.chart-bar
//canvas(id='bar',chart-data='vm.metricschartdata',chart-labels='vm.metricschartlabels',chart-series='vm.metricschartseries',chart-options='vm.options',height='150',chart-dataset-override="vm.metricsdatasetOverride" ).chart.chart-bar
br
uib-progressbar(max='vm.max', value='vm.dynamic')
	span(style='color:white; white-space:nowrap;'){{vm.dynamic/1000}} / {{vm.max/1000}}
br
h2 Events
div(ng-show='vm.mockdata.length>0').table-responsive
	table.table.table-striped.table-sm
		thead
			tr
				th RemoteQueuedMetricKey
				th Timestamp
				th InstanceName
				th DatabaseName
				th Metric
				th MetricValue
				th MetricThreshold
				th ThresholdValue
				th LastQueuedMetricKey
				th Message
		tbody
			tr(ng-repeat='records in vm.mockdata | orderBy:"-RemoteQueuedMetricKey"')
				td {{records.RemoteQueuedMetricKey}}
				td {{records.Timestamp}}
				td {{records.InstanceName}}
				td {{records.DatabaseName}}
				td {{records.Metric}}
				td {{records.MetricValue}}
				td {{records.MetricThreshold}}
				td {{records.ThresholdValue}}
				td {{records.LastQueuedMetricKey}}
				td {{records.Message}}
div(ng-hide='vm.mockdata.length>0').alert.alert-info No events!
br 
//canvas(id='line',chart-data='[vm.archivecounterschartdata["OrderCount"],vm.archivecounterschartdata["OrderRowCount"],vm.archivecounterschartdata["PartyCount"],vm.archivecounterschartdata["PartyVirtualCount"],vm.archivecounterschartdata["PartyMutationCount"],vm.archivecounterschartdata["ExinvoiceCount"],vm.archivecounterschartdata["PricelistCount"],vm.archivecounterschartdata["PricelistRowCount"],vm.archivecounterschartdata["VPSupplylineCount"],vm.archivecounterschartdata["PartyTransactionCount"]]',chart-labels='vm.archivecounterschartdata["ArchiveCounterKey"]',chart-series='vm.archivecounterschartseries',chart-options='vm.options',height='150').chart.chart-line
//canvas(id='line',chart-data='vm.archivecounterschartdata',chart-labels='vm.archivecounterschartdata[1]',chart-series='vm.archivecounterschartseries',chart-options='vm.options',height='100').chart.chart-line
canvas(id='line',chart-data='vm.archivecounterschartdataselection',chart-labels='vm.archivecounterschartdata[1]',chart-series='vm.archivecounterschartseriesselection',chart-options='vm.options',height='100').chart.chart-line
br
label(ng-repeat='serie in vm.archivecounterschartdata') 
	input(type='checkbox', name='selectedFruits[]', value='{{serie}}', ng-checked='vm.archivecounterschartdataselection.indexOf(serie) > -1', ng-click='vm.toggleArchiveSelection(serie,vm.archivecounterschartseries[$index])')
	|  {{vm.archivecounterschartseries[$index]}}
br
.row
	.col-md-12
		.table-responsive
			table.table.table-striped.table-sm
				thead
					//th ArchiveCounterKey
					th CounterTimestamp
					th OrderCount
					th OrderRowCount
					th PartyCount
					th PartyVirtualCount
					th PartyMutationCount
					th ExinvoiceCount
					th PricelistCount
					th PricelistRowCount
					th VPSupplylineCount
					th PartyTransactionCount
				tbody
					tr(ng-repeat='counter in vm.archivecounters | orderBy:"-ArchiveCounterKey"')
						//td {{counter.ArchiveCounterKey}}
						td {{counter.CounterTimestamp}}
						td {{counter.OrderCount}}
						td {{counter.OrderRowCount}}
						td {{counter.PartyCount}}
						td {{counter.PartyVirtualCount}}
						td {{counter.PartyMutationCount}}
						td {{counter.ExinvoiceCount}}
						td {{counter.PricelistCount}}
						td {{counter.PricelistRowCount}}
						td {{counter.VPSupplylineCount}}
						td {{counter.PartyTransactionCount}}
br
canvas(id='line',chart-data='vm.customerentitycountdataselection',chart-labels='vm.customerentitycountdata[1]',chart-series='vm.customerentitycountseriesselection',chart-options='vm.options',height='100',chart-dataset-override="[{pointRadius:0}]").chart.chart-line
br
label(ng-repeat='serie in vm.customerentitycountdata') 
	input(type='checkbox', name='selectedFruits[]', value='{{serie}}', ng-checked='vm.customerentitycountdataselection.indexOf(serie) > -1', ng-click='vm.toggleEntitySelection(serie,vm.customerentitycountseries[$index])')
	|  {{vm.customerentitycountseries[$index]}}
br
.row
	.col-md-12
		.table-responsive
			table.table.table-striped.table-sm
				thead
					th ID
					th Timestamp
					th TotalLots
					th RealLots
					th VirtualLots
					th VirtualLotsToBeDeleted
					th TotalOrders
					th TotalOrderRows
					th ABSOrders
					th ABSOrderRows
					th WebShopOrders 
					th WebShopOrderRows 
					th ProductionOrders 
					th ProductionOrderRows 
					th PCCPTotal 
					th PCCPToBeCalculated 
					th VPSupplyLineTotal 
					th TotalPricelists 
					th TotalPricelistRows 
				tbody
					tr(ng-repeat='entitycount in vm.customerentitycounts | orderBy:"-ID"')
						th {{entitycount.ID}}
						th {{entitycount.Timestamp}}
						th {{entitycount.TotalLots}}
						th {{entitycount.RealLots}}
						th {{entitycount.VirtualLots}}
						th {{entitycount.VirtualLotsToBeDeleted}}
						th {{entitycount.TotalOrders}}
						th {{entitycount.TotalOrderRows}}
						th {{entitycount.ABSOrders}}
						th {{entitycount.ABSOrderRows}}
						th {{entitycount.WebShopOrders}}
						th {{entitycount.WebShopOrderRows}}
						th {{entitycount.ProductionOrders}}
						th {{entitycount.ProductionOrderRows}}
						th {{entitycount.PCCPTotal}}
						th {{entitycount.PCCPToBeCalculated}}
						th {{entitycount.VPSupplyLineTotal}}
						th {{entitycount.TotalPricelists}}
						th {{entitycount.TotalPricelistRows}}
//- End Content
