extends layout

block append body
	.container-fluid.h-100
		.row.h-100
			.col.p-0
				a.float-right.m-3.navbar-light(href='', data-target='#sidebar', data-toggle='collapse')
					span.navbar-toggler-icon
				.p-2.content
					div(ng-view).container
					//- h2
					//- 	| Bootstrap 4 Off-canvas
					//- p
					//- 	| 3 wolf moon retro jean shorts chambray sustainable roof party. Shoreditch vegan artisan Helvetica. Tattooed Codeply Echo Park Godard kogi, next level irony ennui twee squid fap selvage. Meggings flannel Brooklyn literally small batch, mumblecore
					//- 	| PBR try-hard kale chips. Brooklyn vinyl lumbersexual bicycle rights, viral fap cronut leggings squid chillwave pickled gentrify mustache. 3 wolf moon hashtag church-key Odd Future. Austin messenger bag normcore, Helvetica Williamsburg
					//- 	| sartorial tote bag distillery Portland before they sold out gastropub taxidermy Vice.
			#sidebar.col-2.collapse.bg-inverse.pt-2.h-100
				ul.nav.flex-column
					li.nav-item
						a.nav-link(href='#') Overview
	//- div(ng-controller='MainCtrl as main')
	//- 	//- Top menu
	//- 	include ./header.jade
	//- 	.container-fluid
	//- 		.row
	//- 			include ./menu.jade
	//- 			//div(ng-view)
	//- 			main.col-md-9.ml-sm-auto.col-lg-10.pt-3.px-4(role='main',ng-view)
block scripts
	//- Angular core
	script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js')
	script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.min.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-touch/1.4.5/angular-touch.min.js')
	script(src='js/app.js')
	script(src='js/services.js')
	script(src='js/controllers.js')
	script(src='js/blockingCtrl.js')
	script(src='js/serverCtrl.js')
	script(src='js/ReportCtrl.js')
	//- script(src='js/adminControllers.js')
	script(src='js/filters.js')
	script(src='js/directives.js')
	//- script(src='js/app.min.js')
	//- script(src='js/gruntapp.min.js')
	//- Angular dependencies
	script(src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js')
	script(src='js/lib/angular-underscore/angular-underscore-module.js')
	script(src='js/lib/ui-bootstrap/ui-bootstrap-2.5.0.min.js')
	script(src='js/lib/ui-bootstrap/ui-bootstrap-tpls-2.5.0.min.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js')
	script(src='//cdn.jsdelivr.net/angular.chartjs/latest/angular-chart.min.js')
	script(src='http://momentjs.com/downloads/moment.min.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-moment/1.2.0/angular-moment.min.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.17/angular-filter.js')
	script(src='js/lib/angular-dynamic-locale/tmhDynamicLocale.min.js')
	script(src='js/lib/oboe/oboe-browser.js')
	script(src='js/lib/angular-oboe/angular-oboe.js')
	//- Bootstrap core JavaScript
	//-  ==================================================
	//- Placed at the end of the document so the pages load faster
	script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
	script.
		window.jQuery || document.write('<script src="https://getbootstrap.com/assets/js/vendor/jquery-slim.min.js"><\\/script>')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js')
	//- script(src='js/lib/offcanvas.js')
	//- Icons
	//- script(src='https://unpkg.com/feather-icons/dist/feather.min.js')
	script(defer='', src='https://use.fontawesome.com/releases/v5.0.6/js/all.js')
	//- script(src="/socket.io-client/dist/socket.io.js")
	//- script.
	//- 	$(function () {
	//- 	var socket = io.connect('http://localhost:4000');
	//- 	$('form').submit(function(){
	//- 	socket.emit('chat message', $('#m').val());
	//- 	$('#m').val('');
	//- 	return false;
	//- 	});
	//- 	socket.on('chat message', function(msg){
	//- 	$('#messages').append($('<li>').text(msg));
	//- 	});
	//- 	});
