extends layout

block append body
	#wrapper(ng-controller='MainCtrl as main').toggled
		//- include ./header.jade
		// Sidebar
		#sidebar-wrapper
			//- .text-center
			//- 	a(href='/home')
			//- 		img(ng-src='./Logo-transparant.png').img-fluid
			//- h6.sidebar-heading.d-flex.justify-content-between.align-items-center.px-3.mt-4.mb-1.text-muted
			//- 	span Servers
			ul.sidebar-nav
				li
					a(href='/home')
						img(ng-src='./Logo-transparant.png',style='width:75%;').img
				li
					input.form-control.form-control-dark.w-100(ng-model="main.searchAlias",type='text', placeholder='Search servers...', aria-label='Search')
				//- li.sidebar-brand
				//- 	a(href='#')
				//- 		| Servers
				li(ng-repeat='server in main.servers | filter: {Alias:main.searchAlias}').nav-item
					a(href='/server/{{server.escaped}}/{{server.Alias}}/{{server.Notes}}',ng-hide='((server.Description=="none") || !server.Alias)').nav-link
						span(data-feather='file-text')
						i(ng-class="{'green' : (server.hbMin_ago<30 && server.hbMin_ago!==null && server.Min_ago===null) , 'red' : (server.hbMin_ago>30 || server.Min_ago!==null)}").fas.fa-laptop.feather
						|                    {{server.Alias}} - {{server.Description}}
		// /#sidebar-wrapper
		// Page Content
		include ./header.jade
		#page-content-wrapper
			.container-fluid(ng-view)
		// /#page-content-wrapper
block scripts
	//- Angular core
	script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js')
	script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.min.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-touch/1.4.5/angular-touch.min.js')
	script(src='js/app.js')
	script(src='js/services.js')
	script(src='js/controllers.js')
	script(src='js/blockingCtrl.js')
	script(src='js/serverCtrl.js')
	script(src='js/ReportCtrl.js')
	//- script(src='js/adminControllers.js')
	script(src='js/filters.js')
	script(src='js/directives.js')
	//- script(src='js/app.min.js')
	//- script(src='js/gruntapp.min.js')
	//- Angular dependencies
	script(src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js')
	script(src='js/lib/angular-underscore/angular-underscore-module.js')
	script(src='js/lib/ui-bootstrap/ui-bootstrap-2.5.0.min.js')
	script(src='js/lib/ui-bootstrap/ui-bootstrap-tpls-2.5.0.min.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js')
	script(src='//cdn.jsdelivr.net/angular.chartjs/latest/angular-chart.min.js')
	script(src='http://momentjs.com/downloads/moment.min.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-moment/1.2.0/angular-moment.min.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.17/angular-filter.js')
	script(src='js/lib/angular-dynamic-locale/tmhDynamicLocale.min.js')
	script(src='js/lib/oboe/oboe-browser.js')
	script(src='js/lib/angular-oboe/angular-oboe.js')
	//- Bootstrap core JavaScript
	//-  ==================================================
	//- Placed at the end of the document so the pages load faster
	script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
	script.
		window.jQuery || document.write('<script src="https://getbootstrap.com/assets/js/vendor/jquery-slim.min.js"><\\/script>')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js')
	//- script(src='js/lib/offcanvas.js')
	//- Icons
	//- script(src='https://unpkg.com/feather-icons/dist/feather.min.js')
	script(defer='', src='https://use.fontawesome.com/releases/v5.0.6/js/all.js')
	//- script(src="/socket.io-client/dist/socket.io.js")
	//- script.
	//- 	$(function () {
	//- 	var socket = io.connect('http://localhost:4000');
	//- 	$('form').submit(function(){
	//- 	socket.emit('chat message', $('#m').val());
	//- 	$('#m').val('');
	//- 	return false;
	//- 	});
	//- 	socket.on('chat message', function(msg){
	//- 	$('#messages').append($('<li>').text(msg));
	//- 	});
	//- 	});
	script.
		$("#menu-toggle2").click(function(e) {
		e.preventDefault();
		$("#wrapper").toggleClass("toggled");
		});
