extends layout

block append body
	div(ng-controller='MainCtrl as main')
		//- include ./header.jade
		nav.navbar.navbar-dark.sticky-top.bg-dark.flex-md-nowrap.p-0
			a.navbar-brand.col-sm-3.col-md-2.mr-0(href='#') Company name
			input.form-control.form-control-dark.w-100(type='text', placeholder='Search', aria-label='Search')
			ul.navbar-nav.px-3
				li.nav-item.text-nowrap
					a.nav-link(href='#') Sign out
		div(ng-view).container-fluid

block scripts
	//- Angular core
	script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js')
	script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.min.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-touch/1.4.5/angular-touch.min.js')
	script(src='js/app.js')
	script(src='js/services.js')
	script(src='js/controllers.js')
	script(src='js/loginControllers.js')
	//- script(src='js/adminControllers.js')
	script(src='js/filters.js')
	script(src='js/directives.js')
	//- script(src='js/app.min.js')
	//- script(src='js/gruntapp.min.js')
	//- Angular dependencies
	script(src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js')
	script(src='js/lib/angular-underscore/angular-underscore-module.js')
	script(src='js/lib/ui-bootstrap/ui-bootstrap-2.5.0.min.js')
	script(src='js/lib/ui-bootstrap/ui-bootstrap-tpls-2.5.0.min.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js')
	script(src='//cdn.jsdelivr.net/angular.chartjs/latest/angular-chart.min.js')
	//- Bootstrap core JavaScript
	//-  ==================================================
	//- Placed at the end of the document so the pages load faster
	script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
	script.
		window.jQuery || document.write('<script src="https://getbootstrap.com/assets/js/vendor/jquery-slim.min.js"><\\/script>')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js')
	//- Icons
	//- script(src='https://unpkg.com/feather-icons/dist/feather.min.js')
	script(defer='', src='https://use.fontawesome.com/releases/v5.0.6/js/all.js')
