extends layout

block append body
	div(ng-controller='MainCtrl as main')
		include ./header.jade

block scripts
	script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js')
	script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.min.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-touch/1.4.5/angular-touch.min.js')
	script(src='js/app.js')
	script(src='js/services.js')
	script(src='js/controllers.js')
	script(src='js/loginControllers.js')
	//- script(src='js/messageControllers.js')
	//- script(src='js/profileControllers.js')
	//- script(src='js/factoryControllers.js')
	//- script(src='js/workshopControllers.js')
	script(src='js/adminControllers.js')
	script(src='js/filters.js')
	script(src='js/directives.js')
	//- script(src='js/app.min.js')
	//- script(src='js/gruntapp.min.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js')
	script(src='js/lib/angular-underscore/angular-underscore-module.js')
	script(src='js/lib/ui-bootstrap/ui-bootstrap-2.5.0.min.js')
	script(src='js/lib/ui-bootstrap/ui-bootstrap-tpls-2.5.0.min.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js')
	script(src='//cdn.jsdelivr.net/angular.chartjs/latest/angular-chart.min.js')
	//- script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js",integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN",crossorigin="anonymous")
	//- script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js",integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh",crossorigin="anonymous")
	//- script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js",integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ",crossorigin="anonymous")
	//- //- script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js")
	//- //- script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.2/moment.min.js')
	//- jQuery (necessary for Bootstrap's JavaScript plugins)
	//- <script src="http://code.jquery.com/jquery.js"></script>
	script(src='plugins/jquery/jquery.min.js')
	script(src='plugins/jquery-ui/jquery-ui.min.js')
	//- Include all compiled plugins (below), or include individual files as needed
	script(src='plugins/bootstrap/bootstrap.min.js')
	script(src='plugins/justified-gallery/jquery.justifiedGallery.min.js')
	script(src='plugins/tinymce/tinymce.min.js')
	script(src='plugins/tinymce/jquery.tinymce.min.js')
	//- All functions for this theme + document.ready processing
	script(src='js/devoops.js')
