nav.col-md-2.d-none.d-md-block.bg-light.sidebar
	.sidebar-sticky
		img(ng-src='http://www.axerrio.com/Portals/3/Logo-Axerrio-USA.jpg').img-fluid
		//- ul.nav.flex-column
		//- 	li.nav-item
		//- 		a.nav-link.active(href='#')
		//- 			i.fas.fa-home.feather
		//- 			|                   Contact Us
		//- 			span.sr-only (current)
		//- 	li.nav-item
		//- 		a.nav-link(href='#')
		//- 			i.fas.fa-file.feather
		//- 			|                   Orders
		//- 	li.nav-item
		//- 		a.nav-link(href='#')
		//- 			i.fas.fa-shopping-cart.feather
		//- 			|                   Products
		//- 	li.nav-item
		//- 		a.nav-link(href='#')
		//- 			i.fas.fa-users.feather
		//- 			|                   Customers
		//- 	li.nav-item
		//- 		a.nav-link(href='#')
		//- 			i.fas.fa-chart-bar.feather
		//- 			|                   Reports
		//- button.btn.btn-lg.btn-danger(type='button', data-toggle='popover', title='Popover title', data-content="And here's some amazing content. It's very engaging. Right?") Click to toggle popover
		h6.sidebar-heading.d-flex.justify-content-between.align-items-center.px-3.mt-4.mb-1.text-muted
			span Shared Servers
		ul.nav.nav-pills.flex-column.mb-2
			li(ng-repeat='server in main.sorted').nav-item.dropdown
				a(data-toggle='dropdown', href='#', role='button', aria-haspopup='true', aria-expanded='false').nav-link.dropdown-toggle
					span(data-feather='file-text')
					i(ng-class="{'green' : server[0].Min_ago<30 , 'red' : (server[0].Min_ago>30) || !server[0].Min_ago}").fas.fa-laptop.feather
					|                    {{server[0].Description}}
				.dropdown-menu
					a(ng-repeat='customer in server',href='/server/{{customer.Description}}/{{customer.Alias}}').dropdown-item {{customer.Alias}}
		h6.sidebar-heading.d-flex.justify-content-between.align-items-center.px-3.mt-4.mb-1.text-muted
			span Private Servers
		ul.nav.flex-column.mb-2
			li(ng-repeat='server in main.orphans | orderBy: "+Alias"').nav-item
				a(href='/server/{{server.Description}}/{{server.Alias}}',ng-hide='((server.Description=="none") || !server.Alias)').nav-link
					span(data-feather='file-text')
					i(ng-class="{'green' : server.Min_ago<30 , 'red' : (server.Min_ago>30) || !server.Min_ago}").fas.fa-laptop.feather
					|                    {{server.Alias}} - {{server.Description}}
