nav.col-md-2.d-none.d-md-block.bg-light.sidebar
	.sidebar-sticky
		img(ng-src='http://www.axerrio.com/Portals/3/Logo-Axerrio-USA.jpg').img-fluid
		//- ul.nav.flex-column
		//- 	li.nav-item
		//- 		a.nav-link.active(href='#')
		//- 			i.fas.fa-home.feather
		//- 			|                   Contact Us
		//- 			span.sr-only (current)
		//- 	li.nav-item
		//- 		a.nav-link(href='#')
		//- 			i.fas.fa-file.feather
		//- 			|                   Orders
		//- 	li.nav-item
		//- 		a.nav-link(href='#')
		//- 			i.fas.fa-shopping-cart.feather
		//- 			|                   Products
		//- 	li.nav-item
		//- 		a.nav-link(href='#')
		//- 			i.fas.fa-users.feather
		//- 			|                   Customers
		//- 	li.nav-item
		//- 		a.nav-link(href='#')
		//- 			i.fas.fa-chart-bar.feather
		//- 			|                   Reports
		h6.sidebar-heading.d-flex.justify-content-between.align-items-center.px-3.mt-4.mb-1.text-muted
			span Linked Servers
			a.d-flex.align-items-center.text-muted(href='#')
				//- span(data-feather='plus-circle')
				i.fas.fa-plus-circle.feather
		ul.nav.flex-column.mb-2
			li(ng-repeat='server in main.servers').nav-item
				a.nav-link(href='/server/{{server.InstanceName}}')
					span(data-feather='file-text')
					i(ng-class="{'green' : server.Min_ago<30 , 'red' : server.Min_ago>30}").fas.fa-laptop.feather
					|                   {{server.InstanceName}}
