h5 Weekstats
button(ng-click='vm.callWeekstats()').btn.btn-default
	span Call weekstats
.table-responsive
	ul(uib-pagination,total-items="vm.weekstats_totalItems",ng-model="vm.weekstats_currentPage",ng-change="vm.pageChanged()",class="pagination-sm",items-per-page="vm.weekstats_itemsPerPage",template-url="pagination.html",max-size="5",boundary-links="true",boundary-link-number="true",rotate="true",force-ellipses="true").pagination
	table(ng-shpw="vm.weekstats.length>0").table.table-striped.table-sm
		thead
			th(ng-repeat='(key,value) in vm.weekstats[0]') {{key}}
		tbody
			tr(ng-repeat="weekstat in vm.weekstats.slice(((vm.weekstats_currentPage-1)*vm.weekstats_itemsPerPage), ((vm.weekstats_currentPage)*vm.weekstats_itemsPerPage))")
				td(ng-repeat='(key,value) in weekstat') {{value}}
