script(type='text/ng-template', id='archivecounters.html').
	<script type="text/javascript">
		$(document).ready(function(){
			$('.collapsible').collapsible();
		});
ng-include(src="'archivecounters.html'")
ul.collapsible
	li.active
		.collapsible-header
			h5 Archive counters
		.collapsible-body
			canvas(id='line',chart-data='vm.archivecounterschartdata',chart-labels='vm.archivecounterschartdata[1]',chart-series='vm.archivecounterschartseries',chart-options='vm.options',height='100').chart.chart-line
//- br
//- .table-responsive
//- 	table(ng-hide="vm.archivecounters.name=='SequelizeDatabaseError'").table.table-striped.table-sm
//- 		thead
//- 			th(ng-repeat='(key,value) in vm.archivecounters[0]') {{key}}
//- 		tbody
//- 			tr(ng-repeat='counter in vm.archivecounters | orderBy:"-ArchiveCounterKey"')
//- 				td(ng-repeat='(key,value) in counter') {{value}}
//- 	div(ng-show="vm.archivecounters.name=='SequelizeDatabaseError'",style='margin:5px;').alert-danger
//- 		{{vm.archivecounters.original.message}}
