canvas(id='line',chart-data='vm.customerentitycountdata',chart-labels='vm.customerentitycountdata[1]',chart-series='vm.customerentitycountseries',chart-options='vm.options',height='100',chart-dataset-override="[{pointRadius:0}]").chart.chart-line
br
.table-responsive
	ul(uib-pagination,total-items="vm.customerentitycounts_totalItems",ng-model="vm.customerentitycounts_currentPage",ng-change="vm.pageChanged()",class="pagination-sm",items-per-page="vm.customerentitycounts_itemsPerPage",template-url="pagination.html",max-size="5",boundary-links="true",boundary-link-number="true",rotate="true",force-ellipses="true").pagination
	table(ng-hide="vm.customerentitycounts.name=='SequelizeDatabaseError'").table.table-striped.table-sm
		thead
			th(ng-repeat='(key,value) in vm.customerentitycounts[0]') {{key}}
		tbody
			tr(ng-repeat="entitycount in vm.customerentitycounts.slice(((vm.customerentitycounts_currentPage-1)*vm.customerentitycounts_itemsPerPage), ((vm.customerentitycounts_currentPage)*vm.customerentitycounts_itemsPerPage))")
				td(ng-repeat='(key,value) in entitycount') {{value}}
	div(ng-show="vm.customerentitycounts.name=='SequelizeDatabaseError'",style='margin:5px;').alert-danger
		{{vm.customerentitycounts.original.message}}
