.card
	.card-header
		h5 
			i.fas.fa-address-card
			|                   Orderrows
			button(ng-click="vm.isCollapsed = !vm.isCollapsed",type="button",data-toggle="collapse",data-target="#collapseOrderrows",role="button",aria-expanded="false",aria-controls="collapseDiskSpace").btn.btn-default.btn-sm.float-right
				i(ng-show='vm.isCollapsed').fas.fa-plus
				//- |                   collapse
				i(ng-show='!vm.isCollapsed').fas.fa-minus
				//- |                   collapse
	div(id="collapseOrderrows").collapse.show
		div(ng-if='vm.customerentitycountdatastarting',align='center').loading
				i(aria-hidden="true").fas.fa-circle-notch.fa-spin.fa-3x.fa-lg
		div(uib-alert,ng-show="vm.customerentitycountdata.name=='SequelizeDatabaseError'",style='margin:5px;',close="vm.customerentitycountdata.name=null").alert-danger
			{{vm.customerentitycountdata.original.message}}
		div(uib-alert,ng-show="vm.customerentitycountdata.length<1 && !vm.customerentitycountdatastarting",style='margin:5px;').alert-danger
			p No data!
		canvas(id='line',chart-data='[vm.customerentitycountdata[7],vm.customerentitycountdata[9],vm.customerentitycountdata[11],vm.customerentitycountdata[13]]',chart-labels='vm.customerentitycountdata[1]',chart-series='[vm.customerentitycountseries[7],vm.customerentitycountseries[9],vm.customerentitycountseries[11],vm.customerentitycountseries[13]]',chart-options='vm.options2',height='100',chart-dataset-override="[{pointRadius:2},{pointRadius:2},{pointRadius:2},{pointRadius:2}]").chart.chart-line
