//- .card
//- 	.card-header 
//- 		h5 
//- 			i.fas.fa-address-card
//- 			|                   Top 10 errors
//- 			button(ng-click="vm.isCollapsed = !vm.isCollapsed",type="button",data-toggle="collapse",data-target="#collapsetop10errors",role="button",aria-expanded="false",aria-controls="collapseDiskSpace").btn.btn-default.btn-sm.float-right
//- 				i(ng-show='vm.isCollapsed').fas.fa-plus
//- 				//- |                   collapse
//- 				i(ng-show='!vm.isCollapsed').fas.fa-minus
//- 				//- |                   collapse
//- 	div(id="collapsetop10errors").collapse.show
//- 		div(ng-if='vm.top10errorsstarting',align='center').loading
//- 				i(aria-hidden="true").fas.fa-circle-notch.fa-spin.fa-3x.fa-lg
//- 		div(uib-alert,ng-show="vm.top10errors.name=='SequelizeDatabaseError'",style='margin:5px;',close="vm.top10errors.name=null").alert-danger
//- 			{{vm.top10errors.original.message}}
//- 		div(uib-alert,ng-show="vm.top10errors.length<1 && !vm.top10errorsstarting",style='margin:5px;').alert-danger
//- 			p No data!
//- 		div(ng-repeat='error in vm.top10errors track by $index', style='padding:5px;',ng-hide="vm.top10errors.name=='SequelizeDatabaseError'")
//- 			.row
//- 				.col-md-6
//- 					{{error.loggedfromsub}}
//- 					br
//- 					{{error.message}}
//- 				.col-md-6
//- 					uib-progressbar(max='vm.top10errors[0].count', value='error.count',type='bg-danger')
//- 						span(style='color:white; white-space:nowrap;') {{error.count}}
script(type='text/ng-template', id='top10errors.html').
	<script type="text/javascript">
		$(document).ready(function(){
			$('.collapsible').collapsible();
			$('.tooltipped').tooltip({position: 'left', margin: 10});
		});
ng-include(src="'top10errors.html'")
ul(data-collapsible="accordion").collapsible
	li.active
		.collapsible-header
			h5 top 10 errors
		.collapsible-body
			.row
				.col.s12
					ul(data-collapsible="accordion").collapsible.expandable
						li(ng-repeat='error in vm.top10errors | groupBy: "Message" | toArray:true | orderBy: error.length: true', ng-hide="vm.top10errors.name=='SequelizeDatabaseError'")
							.collapsible-header
								.row
									.col.s12
										.progress
											div(ng-style="{ 'width': (({{error.length}} / {{vm.top10errors.length}})*100) + '%' }").determinate
										{{error.length}} x {{error.$key}}
							.collapsible-body
								ul.collection
									li(ng-repeat='value in error').collection-item
										p(style='white-space:pre;') 
											| Time: {{value.LoggedTimestamp}}
											| User: {{value.LoggedUserLogin}}
											| NTUsername: {{value.LoggedNTUserName}}
											| Hostname: {{value.LoggedHostName}}
											| Message : {{value.Message}}
							//- .col.s6
							//- 	.progress
							//- 		div(ng-style="{ 'width': (({{error.length}} / {{vm.top10errors.length}})*100) + '%' }").determinate
							//- 	{{error.length}}
						//- div(ng-repeat='error in value', style='padding:5px;',ng-hide="vm.top10errors.name=='SequelizeDatabaseError'")
						//- 	.row
						//- 		.col.s6
						//- 			{{error.loggedfromsub}}
						//- 			br
						//- 			{{error.message}}
						//- 		.col.s6
						//- 			//- uib-progressbar(max='vm.top10errors[0].count', value='error.count',type='bg-danger')
						//- 			//- 	span(style='color:white; white-space:nowrap;') {{error.count}}
						//- 			.progress
						//- 				div.determinate
					//- div(ng-repeat='error in vm.top10errors track by $index', style='padding:5px;',ng-hide="vm.top10errors.name=='SequelizeDatabaseError'")
					//- 	.row
					//- 		.col.s6
					//- 			{{error.loggedfromsub}}
					//- 			br
					//- 			{{error.message}}
					//- 		.col.s6
					//- 			//- uib-progressbar(max='vm.top10errors[0].count', value='error.count',type='bg-danger')
					//- 			//- 	span(style='color:white; white-space:nowrap;') {{error.count}}
					//- 			.progress
					//- 				div(ng-style="{ 'width': (({{error.count}} / {{vm.top10errors[0].count}})*100) + '%' }").determinate
					//- 			{{error.count}}
