.card
	.card-header 
		h5 
			i.fas.fa-address-card
			|                   Top 10 errors
			button(ng-click="vm.isCollapsed = !vm.isCollapsed",type="button",data-toggle="collapse",data-target="#collapsetop10errors",role="button",aria-expanded="false",aria-controls="collapseDiskSpace").btn.btn-default.btn-sm.float-right
				i(ng-show='vm.isCollapsed').fas.fa-plus
				//- |                   collapse
				i(ng-show='!vm.isCollapsed').fas.fa-minus
				//- |                   collapse
	div(id="collapsetop10errors").collapse.show
		div(ng-if='vm.top10errorsstarting',align='center').loading
				i(aria-hidden="true").fas.fa-circle-notch.fa-spin.fa-3x.fa-lg
		div(uib-alert,ng-show="vm.top10errors.name=='SequelizeDatabaseError'",style='margin:5px;',close="vm.top10errors.name=null").alert-danger
			{{vm.top10errors.original.message}}
		div(uib-alert,ng-show="vm.top10errors.length<1 && !vm.top10errorsstarting",style='margin:5px;').alert-danger
			p No data!
		div(ng-repeat='error in vm.top10errors track by $index', style='padding:5px;',ng-hide="vm.top10errors.name=='SequelizeDatabaseError'")
			.row
				.col-md-6
					{{error.loggedfromsub}}
					br
					{{error.lastmessage}}
				.col-md-6
					uib-progressbar(max='vm.top10errors[0].count', value='error.count',type='bg-danger')
						span(style='color:white; white-space:nowrap;') {{error.count}}
